body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.clear-fix {
    overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
    padding: 0 5%;
}

h1 {
    font-size: 40px;
    color: #ff6;
    line-height: 48px;
    display: inline;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #444;
    line-height: 29px;
    padding: 10px;
}

h3 {
    font-style: italic;
    font-size: 20px;
    color: #444;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

h2,
h3,
h4,
h5 {
    padding: 10px 5%;
}

h3 {
    margin-top: 1rem;
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #777;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #777;
    line-height: 16px;
    float: right;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #333;
    line-height: 21px;
}

a {
    color: #036;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    font-size: 1rem;
    line-height: 1.6rem;
}

#name + span {
    font-size: 24px;
    color: #f3f3f3;
    margin-left: 1em;
}

.welcome-message {
    font-style: italic;
    font-size: 18px;
    color: #f3f3f3;
    line-height: 28px;
}

#skills-h3 {
    color: #ff6;
    display: none;
}

.orange {
    background-color: #ff6;
}

.orange-text {
    color: #ff6;
}

.white-text {
    font-weight: bold;
    color: #fff;
}

.gray {
    background-color: #eee;
    padding-bottom: 10px;
    clear: both;
}

.dark-gray {
    background-color: #444;
}

#header {
    background-color: #036;
}

#header,
#workExperience,
#projects,
#education,
#mapDiv,
#lets-connect {
    width: 80vw;
    margin: auto;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}

.center-content {
    padding: 2.5% 5%;
}

ul {
    list-style-type: none;
}

.biopic {
    float: left;
    padding: 10px;
    width: 200px;
    display: none;
}

img {
    padding: 10px;
}

span {
    padding: 5px;
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    padding-bottom: 5%;
}

#lets-connect {
    margin-top: 2rem;
    text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    }
}

@media only screen and (max-width: 750px) {
    #name + span {
        display: block;
        margin-left: 0;
    }

    .biopic {
        width: 150px;
    }

    .welcome-message {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    #header,
    #workExperience,
    #projects,
    #education,
    #mapDiv,
    #lets-connect {
        width: 90vw;
        margin: auto;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 2rem;
    }

    .date-text,
    .location-text,
    p,
    a {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    p, h3 {
        clear: left;
    }

    .location-text {
        float: left;
    }

    #lets-connect {
        margin-top: 5rem;
    }
}

@media only screen and (min-width: 750px) {
    #skills-h3,
    .biopic {
        display: block;
    }
}
